/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General page styles */
body {
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #9FC5F8;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 20px 15px 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

h3,
h4 {
    padding: 20px 20px 15px 25px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

h5 {
    color: #999999;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-family: 'Manrope', sans-serif;
    color: #ffffff;
    font-size: large;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Header section*/
header {
    background-color: #222831;
    position: fixed;
    width: 100%;
    padding: 0 1em;
    color: #ffffff;
    display: flex;
    /* required for align-items and justify-content */
    align-items: baseline;
    justify-content: space-between;
    top: 0;
    z-index: 100;
}

header a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

#pages {
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 2px;
}

#pages a {
    display: block;
    margin: 2px;
}

#pages>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #9FC5F8;
}

#logo {
    text-decoration: none;
}

/* Navigation section*/
nav {
    position: absolute;
    background-color: #222831;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#menu:checked~nav {
    display: block;
}

#menu {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin: 0.3em 1em;
    color: #ffffff;
    text-align: center;
}

a {
    padding: 1px;
    margin: 1px;
}

nav ul li a:hover {
    background-color: #999999;
}

/* Main Content section */
.main {
    background-color: #085394;
    min-height: 100vh;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 0vh;
    position: relative;
}

/* Main image section */
#main-image {
    background: url("../images/pexels-pixabay-260598.webp") no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 500px;
}

.reasons {
    margin: 30px 0 10px 0;
}

#para-text {
    margin: 20px;
}

#benefits {
    background-color: #085394;
    margin-top: 20px;
}

/* Benefits section */
.container {
    background-color: #6FA8DC;
}

#benefits-header {
    margin: 20px 0 0 0;
}

.first-containers {
    color: #222831;
    text-align: center;
}

.second-containers {
    color: #222831;
    text-align: center;
}

.third-containers {
    color: #222831;
    text-align: center;
}

.benefits-one {
    list-style-type: none;
    margin: 10px;
    padding: 30px;
    background-color: #9FC5F8;
    color: #085394;
}

.person-head {
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* About page section */
.about-main {
    background-color: #f6b26b;
}

.about {
    background-color: #f6b26b;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 30px 20px 20px 20px;
    position: relative;
}

#about-text {
    color:#222831;
}

#about-para {
    color: #222831;
}

#team-header {
    margin: 40px 0 0 0;
    color: #222831;
}

.team-one {
    list-style-type: none;
}

.team-two {
    list-style-type: none;
}

.person-one {
    font-size: x-large;
    color: #222831;
}

.person-two {
    font-size: x-large;
    color: #222831;
}

.one-text {
    margin: 0 0 30px 0;
    color: #222831;
    font-size: large;
}

.two-text {
    margin: 0 0 30px 0;
    color: #222831;
    font-size: large;
}

img {
    width: 100%;
    height: auto;
    max-width: 500px;
    padding: 20px;
}

.team-text {
    margin: 30px;
}

#team-text p {
    margin: 0 0 50px 0;
}

/* About image section */
#about-image {
    background: url("../images/pexels-nurseryart-346780\ copy.webp") no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 500px;
}

/* Classes page section */
.classes-main {
    background-color: #ffffff;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 0vh;
    position: relative;
}

#classes-container {
    background-color: #085394;
}

.classes {
    background-color: #085394;
    margin: 30px 20px 50px;
}

.classes h2 {
    color: #ffffff;
}

.classes p {
    color: #ffffff;
}

/* Classes image section */
#classes-image {
    background: url("../images/pexels-shvets-production-8028683.webp") no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 350px;
}

/* Fees section */
.fees {
    background-color: #cccccc;
    min-height: 10vh;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 0vh;
    position: relative;
}

.column-containers {
    justify-content: space-evenly;
}

span {
    font-family: 'Manrope', sans-serif;
    font-size: large;
}

#fees-headline h2 {
    color: #222831;
    margin: 20px;
}

.fees-column {
    float: left;
    margin: 20px;
}

.begin-price {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.begin-price .begin-head {
    color: #222831;
    font-size: 25px;
    background-color: #F6B26B;
    text-transform: uppercase;
}

.begin-price li {
    text-align: center;
    padding: 20px;
}

.begin-text {
    color: #333333;
    background-color: #eeeeee;
}

.price-highlight {
    font-size: 30px;
    background-color: #FF9900;
    color: #222831;
}

/* Gallery page section */
.gallery-section {
    margin-top: 10vh;
}

.gallery-section img {
    width: 100%;
    line-height: 2em;
    padding: 0;
}

#gallery-images {
    line-height: 0;
}

/* Contact page section */
.contact-page {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.address-row {
    margin: 30px;
}

.address-row ul {
    list-style-type: none;
}

.address-row ul li {
    color: #222831;
    margin: 1px;
}

#visit-address {
    margin: 0 0 20px 0;
}

#contact-head {
    text-align: left;
    color: #222831;
    text-transform: none;
    display: flex;
    justify-content: flex-start;
    padding: 100px 20px 10px 0;
}

#para {
    color: #222831;
    text-transform: none;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 30px;
}

#form {
    color: #222831;
}

/* Map section */
.map-row {
    margin: 20px 30px 20px;
}

#map {
    width: 100%;
}

iframe {
    width: 100%;
    min-height: 300px;
}

/* Footer section */
footer {
    background-color: #333333;
    color: #e3e3e3;
    text-align: left;
    width: 100%;
    z-index: 100;
}

.social-media i {
    color: #e3e3e3;
    font-size: 140%;
}

.social-media a {
    padding: 10px;
}

#footer-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

/* Media query: larger and landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #gallery-images {
        column-count: 3;
        column-gap: 0;
    }

    /* Media query: tablets and larger (768px and up) */
    @media screen and (min-width: 768px) {

        /* Header */
        input[type="checkbox"]:not(:checked)+ul {
            display: none;
        }

        nav {
            margin-right: 0;
            margin-left: 0;
            flex-wrap: wrap;
            flex-direction: row;
        }

        /* Checkbox stays hidden */
        nav label {
            align-self: center;
            padding: 0.5em;
            text-align: right;
            line-height: 1.6em;
            display: block;
        }

        /* Display list vertically */
        nav ul {
            display: flex;
            justify-content: space-around;
        }

        /* First list is always visibile items in the menu bar. The second list will be hidden */
        nav ul:last-child {
            flex-basis: 100%;
            width: 100%;
        }

        nav ul li {
            width: 100%;
            text-align: right;
            padding: 0.5em;
            margin: 0;
            width: fit-content;
        }

        nav {
            display: block;
            position: relative;
            box-shadow: none;
            width: fit-content;
            padding-right: 1rem;
        }

        header>ul {
            display: flex;
        }

        header>ul>li {
            padding-left: 1rem;
        }

        header label {
            display: none;
        }

        nav ul li a:hover {
            background-color: #999999;
        }

        /* Main section */
        .reasons {
            margin: 40px 40px 10px 40px;
        }

        .container {
            padding: 0 100px 0 100px;
        }

        .first-containers {
            display: flex;
            flex-direction: row;
            row-gap: 30px;
            color: #222831;
            margin: 10px 40px;
            text-align: center;
        }

        .second-containers {
            display: flex;
            flex-direction: row;
            row-gap: 30px;
            color: #222831;
            margin: 10px 40px;
            text-align: center;
        }

        .third-containers {
            display: flex;
            flex-direction: row;
            row-gap: 30px;
            color: #222831;
            margin: 10px 40px;
            text-align: center;
        }

        .benefits-one {
            list-style-type: none;
            margin: 10px;
            padding: 30px;
            background-color: #9FC5F8;
            color: #222831;
        }

        /* About page section */
        .about {
            margin: 20px 100px 20px 100px;
        }

        .owner-image img {
            width: 200px;
            height: auto;
            box-shadow: 2px 2px 2px 0.5px #565d68
        }

        .about-container {
            display: flex;
            align-items: center;
            padding: 10px;
        }

        .about-image {
            max-width: 100%;
            max-height: 100%;
        }

        .about-text {
            font-size: 50px;
            padding-left: 10px;
        }

        hr {
            border-top: 1px solid #ffffff;
            margin: 30px;
        }

        /* Classes page section */
        #classes-image {
            height: 700px;
        }

        .classes {
            margin: 30px 50px 50px;
        }

        /* Fees section */
        .fees-container {
            width: 100%;
        }

        .column-containers {
            display: flex;
            justify-content: space-evenly;
            /*margin: 30px;*/
        }

        .fees-column {
            width: 30%;
        }

        /* Gallery page section */
        .gallery-section {
            margin-top: 4vh;
        }

        /* Contact page section */
        .d-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        #form {
            display: flex;
            justify-content: flex-start;
            color: #222831;
            margin: 120px 10px 10px 0;
        }

        #form input {
            width: 350px;
            display: flex;
            justify-content: flex-end;
        }

        #para {
            margin: 0 0 30px;
        }

        /* Map section */
        .map-row {
            margin: 80px 70px;
        }

        iframe {
            width: 100%;
        }

        /* Footer section */
        #footer-container {
            margin: 30px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .social-media i {
            color: #999999;
            font-size: 140%;
        }

        .social-media a {
            padding: 10px;
        }

        #copyright {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
        }

        #copyright i {
            align-items: baseline;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .first-containers {
            display: flex;
            justify-content: center;
        }

        /* Gallery section */
        .gallery-section img {
            width: 100%;
            line-height: 2em;
            padding: 0;
        }

        #gallery-images {
            column-count: 3;
            column-gap: 0;
        }

        /* Map section */
        iframe {
            width: 100%;
            min-height: 480px;
        }

        @media (min-width: 1200px) {
        #gallery-images {
            column-gap: 60px;
            margin: 0 30px;
        }
        }
    }
}