/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General page styles */
body {
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #9FC5F8;
}

h1, h2, h4 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    letter-spacing: 2px;
}

/* Header section*/
header {
    background-color: #222831;
    position: fixed;
    width: 100%;
    padding: 0 1em;
    color: #ffffff;
    align-items: baseline;
    justify-content: space-between;
    top: 0;
}

header a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#pages {
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 2px;
    
}

#pages a {
    display: block;
    margin: 2px;
}

#pages > li {
    margin-bottom: 1em;
}

#logo {
    padding-left: 10px;
    text-decoration: none;
}

/* Navigation section*/
nav {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

a {
    padding: 1px;
    margin: 1px;
}

/* Main Content section */
main {
    background-color: #9FC5F8;
    min-height: 100vh;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 100px;
    
}


/* Footer section */
footer {
    background-color: #333333;
    padding: 20px;

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        position: relative;
        width: fit-content;
        display: block;
        padding-right: 1rem;
    }

    header {
        justify-content: space-between;
        display: flex;
    }

    #pages {
        display: flex;
        width: 50vw;
        justify-content: space-around;
    }

    #pages > li {
        padding-left: 0;
    }

    #logo {
        margin: 0 0;
        line-height: 80px;
        font-size: 200%;
    }
}