/* Asterisk wildcard selector to override default styles aded by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header */
header {
    background-color: #333333;
}

/* Mian Content */
main {
    background-color: #9FC5F8;
}

footer {
    background-color: #333333;
}